In [1]:
from connec_functions import generate_sparql, execute_to_df

## Analysis of the EurOBIS special collection

In [2]:
spcol_datasets = execute_to_df("spcol_datasets.sparql")
spcol_datasets

Empty DataFrame
Columns: []
Index: []

In [3]:
spcol_datasets.describe()

,collection_id,name,dataset
count,8,8,8
unique,1,2,4
top,http://dev.marineinfo.org/id/collection/629,EurOBIS map,http://dev.marineinfo.org/id/dataset/4606
freq,8,4,2

In [4]:
spcol_datasets.groupby('name').nunique().drop(['collection_id'], axis=1)

                       dataset
name
EurOBIS dataproviders        4
EurOBIS map                  4

#### % data available as rdf
Since coming from marineinfo.org: 100%

#### How informative is the data